.App {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}

.content {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 3rem;
  grid-gap: 2rem;
}

button {
  padding: 1rem;
  outline: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

button:active {
  background: dodgerblue;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 500px) {
  .game {
    grid-gap: 1rem;
  }
}